 body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    background-color: #2e9ea4;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
    background-color: #9fdb83;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*h1, h2 {
    text-align: cente;
}*/

 button {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #d3d5d7;
}
.fixed-width-label {
    display: inline-block;
    width: 150px; /* Adjust the width as needed */
    text-align: right;
    margin-right: 10px; /* Add some space between the label and input */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    display: inline-block;
    width: auto; /* Allow input fields to take available width */
}
